src/public/upload/flows.json
[{"id":"9eaacc21.384bc","type":"subflow","name":"Subflow 2","info":"","in":[{"x":50,"y":30,"wires":[{"id":"baa73c7.e04674"}]}],"out":[{"x":500,"y":300,"wires":[{"id":"baa73c7.e04674","port":0}]}]},{"id":"baa73c7.e04674","type":"calculation","z":"9eaacc21.384bc","text":"计算2","bakId":"baa73c7.e04674","template":"let value=''; //定义计算结果\nlet c_1=\"{{ec915264.70b348}}\"||0;  //计算1\nlet n_2=\"{{46e7eee0.d18438}}\"||0;  //数字\nvalue=parseFloat(n_2)*1.5+parseFloat(c_1)*2.8\n\nreturn value;","variable":"number","index":3,"x":250,"y":140,"wires":[[]]},{"id":"26f84d08.9442a2","type":"subflow","name":"Subflow 1","info":"","in":[{"x":40,"y":260,"wires":[{"id":"cc125388.3184e8"}]}],"out":[{"x":980,"y":520,"wires":[{"id":"d434f94b.0fa0e8","port":0}]}]},{"id":"efaa3d48.6b74a8","type":"workcenter","z":"26f84d08.9442a2","workCenterCode":"11","workCenterName":"11","x":610,"y":60,"wires":[]},{"id":"8ecd6fc1.e706a","type":"datachange","z":"26f84d08.9442a2","text":"dc","signatureId":"cjucbfcdq14v50721ru4kyqqj","signature":{"id":"cjucbfcdq14v50721ru4kyqqj","name":"双签签名"},"x":730,"y":60,"wires":[]},{"id":"41db4807.eeefc","type":"title","z":"26f84d08.9442a2","text":"titletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitletitle-end","x":1330,"y":120,"wires":[]},{"id":"a3e8021e.659b8","type":"files","z":"26f84d08.9442a2","text":"files","fileList":[{"saveName":"评审记录表_62_HolliEBR V2版本测试用例评审.pdf","md5":"3d0dda8ad51445573754319285b1751c","size":123705,"url":"/uploadFiles/mi/评审记录表_62_HolliEBR V2版本测试用例评审.pdf"},{"saveName":"评审记录表_72_HolliEBR V2版本测试用例评审.pdf","md5":"927b483420b3d3ae2f99668ff5818041","size":340321,"url":"/uploadFiles/mi/评审记录表_72_HolliEBR V2版本测试用例评审.pdf"},{"saveName":"评审记录表_86_HolliEBR V2版本测试用例评审.pdf","md5":"45e851deccd30a0295f2d80a25850c9f","size":572060,"url":"/uploadFiles/mi/评审记录表_86_HolliEBR V2版本测试用例评审.pdf"}],"count":"","x":610,"y":180,"wires":[]},{"id":"ec915264.70b348","type":"calculation","z":"26f84d08.9442a2","text":"计算1","bakId":"ec915264.70b348","template":"let value=''; //定义计算结果\nlet number_1=\"{{46e7eee0.d18438}}\"||0;  //数字\nvalue = parseFloat(number_1)*2\n\nreturn value;","variable":"number","index":2,"x":330,"y":340,"wires":[["46b77b2.a4cb904"]]},{"id":"cc125388.3184e8","type":"upload","z":"26f84d08.9442a2","text":"upload","count":"2","kinds":["docs","pics"],"max":10,"path":"/upload/cc125388.3184e8","x":150,"y":260,"wires":[["a0bbfcba.5e21f8"]]},{"id":"a0bbfcba.5e21f8","type":"label","z":"26f84d08.9442a2","text":"label","bakId":"a0bbfcba.5e21f8","payload":"2222","payloadType":"default","dataSource":"","opcua":"","enVariable":"","x":290,"y":260,"wires":[["931f5401.cd7888"]]},{"id":"931f5401.cd7888","type":"text","z":"26f84d08.9442a2","text":"text","bakId":"931f5401.cd7888","required":true,"regular":"","prefix":"","suffix":"","placeholder":"","maxLength":50,"payload":"","payloadType":"default","dataSource":"","opcua":"","enVariable":"","x":430,"y":260,"wires":[["97de4951.84594"]]},{"id":"97de4951.84594","type":"multiline","z":"26f84d08.9442a2","text":"多行文本","length":200,"x":580,"y":260,"wires":[["3dfcb226.ddf646"]]},{"id":"3dfcb226.ddf646","type":"card","z":"26f84d08.9442a2","text":"卡片","content":"卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片卡片-end","x":730,"y":260,"wires":[["46e7eee0.d18438"]]},{"id":"46e7eee0.d18438","type":"number","z":"26f84d08.9442a2","text":"数字","bakId":"46e7eee0.d18438","required":true,"placeholder":"","min":0,"max":100,"unit":"","payload":"","payloadType":"default","dataSource":"","opcua":"","x":150,"y":340,"wires":[["ec915264.70b348"]]},{"id":"46b77b2.a4cb904","type":"time","z":"26f84d08.9442a2","text":"时间","bakId":"46b77b2.a4cb904","required":true,"sysTime":true,"format":"HH:mm:ss","payload":"","payloadType":"default","dataSource":"","x":470,"y":340,"wires":[["df8da4f3.c95da"]]},{"id":"df8da4f3.c95da","type":"date","z":"26f84d08.9442a2","text":"日期","bakId":"df8da4f3.c95da","required":true,"sysTime":true,"format":"YYYY-MM-DD","payload":"","payloadType":"default","dataSource":"","x":630,"y":340,"wires":[["bb212e78.1ce73"]]},{"id":"bb212e78.1ce73","type":"datetime","z":"26f84d08.9442a2","text":"日期时间","bakId":"bb212e78.1ce73","required":true,"sysTime":true,"format":"YYYY-MM-DD HH:mm:ss","payload":"","payloadType":"default","dataSource":"","x":160,"y":420,"wires":[["cad90083.e842b8"]]},{"id":"cad90083.e842b8","type":"select","z":"26f84d08.9442a2","text":"下拉框","bakId":"cad90083.e842b8","required":true,"placeholder":"","payload":"12","payloadType":"default","options":["12","23"],"outputs":1,"dataSource":"","x":330,"y":420,"wires":[["2a2ef805.1a46d8"]]},{"id":"2a2ef805.1a46d8","type":"checkbox","z":"26f84d08.9442a2","text":"多选框","bakId":"2a2ef805.1a46d8","required":true,"genre":"2","payload":"11","payloadType":"default","options":["11","22","33","44"],"outputs":1,"dataSource":"","x":490,"y":420,"wires":[["cedcde19.d3c5"]]},{"id":"cedcde19.d3c5","type":"signature","z":"26f84d08.9442a2","text":"签名","signatureId":"cjucbfcdq14v50721ru4kyqqj","signature":{"id":"cjucbfcdq14v50721ru4kyqqj","name":"双签签名"},"x":630,"y":420,"wires":[["62dc4d97.6366e4"]]},{"id":"62dc4d97.6366e4","type":"enforce","z":"26f84d08.9442a2","text":"强制","signatureId":"cjucbfcdq14v50721ru4kyqqj","reason":true,"signature":{"id":"cjucbfcdq14v50721ru4kyqqj","name":"双签签名"},"x":790,"y":420,"wires":[["95a3ce54.53365"]]},{"id":"95a3ce54.53365","type":"alert","z":"26f84d08.9442a2","text":"警示","alerttype":"NONE","x":230,"y":520,"wires":[["d434f94b.0fa0e8"]]},{"id":"d434f94b.0fa0e8","type":"scale","z":"26f84d08.9442a2","text":"scale","unit":"mg","x":470,"y":520,"wires":[[]]},{"id":"cdb47c4a.19b19","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"c1b3c798.7c0908","type":"start","z":"cdb47c4a.19b19","name":"kaishi","workCenterCode":"null","workCenterName":"不选择","x":200,"y":160,"wires":[["d1e3ad52.c23ee"]]},{"id":"4da8f184.7df32","type":"end","z":"cdb47c4a.19b19","name":"jieshu","x":920,"y":420,"wires":[]},{"id":"d1e3ad52.c23ee","type":"subflow:26f84d08.9442a2","z":"cdb47c4a.19b19","name":"Subflow 1","env":[],"x":400,"y":240,"wires":[["a3e24ed9.49309"]]},{"id":"a3e24ed9.49309","type":"subflow:9eaacc21.384bc","z":"cdb47c4a.19b19","name":"Subflow 2","x":620,"y":280,"wires":[["4da8f184.7df32"]]}]